/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Style */
body {
    font-family: 'Arial', sans-serif;
    position: relative;
}

/* Navbar Style */
.navbar {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-brand img {
    margin-right: 10px;
}

.navbar-nav a {
    color: white;
}

.navbar-nav a:hover {
    color: #ffc107; 
}

/* Container Style */
.container {
    margin-top: 10px; /* Increased margin-top for better separation from navbar */
    padding: 0 20px;
}

/* Button Style */
.btn {
    margin-top: 10px;
}

/* Footer Style */
.footer {
    background-color: #007BFF;
    padding: 5px 0; /* Increased padding for better spacing */
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
}

.footer a {
    color: white;
}

.footer a:hover {
    color: #ffc107; /* Changed hover color to yellow */
}

/* Heading Style */
h2 {
    color: #007BFF;
    font-size: 24px;
    margin-bottom: 10px;
}
