body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}

.navbar {
    background-color: #007bff;
    padding: 15px 0;
}

.navbar-brand {
    color: #fff !important;
    font-size: 1.5rem;
}

.navbar-toggler-icon {
    background-color: #fff;
}

.navbar-nav a {
    color: #fff !important;
    margin-right: 15px;
    transition: color 0.3s ease-in-out;
}

.navbar-nav a:hover {
    color: #ffc107 !important; 
}

.card {
    margin-top: 20px;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

.card-title {
    color: #007bff;
}

.card-text {
    color: #555;
}




.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.footer {
    background-color: #007bff;
    padding: 15px 0;
    color: #fff;
}

.text-center-footer {
    text-align: center;
}
