/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Style */
body {
    font-family: 'Arial', sans-serif;
    position: relative;
}

/* Navbar Style */
.navbar {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-brand img {
    margin-right: 10px;
}

.navbar-nav a:hover {
    color: #ffc107 !important; 
}

/* Container Style */
.container {
    margin-top: 20px;
    padding: 0 20px;
    max-width: 500px;
    margin: 0 auto;
}

/* Button Style */
.btn {
    margin-top: 10px;
}

/* Footer Style */
.footer {
    background-color: #007BFF;
    padding: 10px 0; /* Increased padding for better appearance */
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
}

.footer a {
    color: white; /* Changed color to white for better visibility */
}

.footer a:hover {
    text-decoration: underline; /* Added underline on hover */
}

/* Heading Style */
h1 {
    color: #007BFF; /* Changed to h1 for consistency */
    font-size: 28px; /* Increased font size for better emphasis */
    margin-bottom: 20px;
}
